doctype
html(lang="ar" dir="rtl")
    head
        meta(charset='utf-8')
        title محمود خلف | الموقع الشخصي
        include styles.pug
        link(rel="stylesheet" href="css/sass/style.css")
        link(rel="stylesheet" href="css/sass/style-rtl.css")

    body
        // start header
        div(class="header wow bounce" data-wow-duration='2s')
            div(class="over")
               div(class="container")
                 div(class="content wow bounceInRight" data-wow-delay='1s')
                    p مرحبا بك في موقعي
                    h3 محمود خلف سعيد
                    h6(class="element")
                    ul(class='social-links')      
                        li
                            a(href="https://www.facebook.com/mahmoud.khalaf.921677" target="-black")
                                i(class="fab fa-facebook")
                        li
                            a(href="https://www.linkedin.com/in/mahmoud-khalaf-538323123/" target="-black")
                                i(class="fab fa-linkedin")
                        li
                            a(href="https://github.com/mahmoudkhalaf0" target="-black")
                                i(class="fab fa-github-square")
                        li
                            a(href="https://www.youtube.com" target="-black")
                                i(class="fab fa-youtube")   
                    div
                        a(href="index.html")
                            |english
        // end header

        //start about me
        div(class="about wow slideInLeft" data-wow-duration='2s' data-wow-offset='100')
            div(class="container")
                h1.head عني
                div(class="about-content")
                    div(class="about-image")
                        img(src="images/2.jpg", alt="mahmoud photo", title="mahmoud khalaf")
                    div(class="about-info")
                        div(class="info")
                            h3 من انا
                            p محمود خلف 21 سنة في السنة الاخيرة في التعليم الجامعي ادرس علوم الحاسب في كلية الحاسبات والمعلومات جامعة المنيا ولدي شغف كبير في مجال تصميم وتطوير المواقع الالكترونية احب جدا مجالي ولدي خبرة تزيد عن سنة في تصميم المواقع الالكترونية سعيد جدالدخولك موقعي وقراءة كلامي هذا وسعدني جدا العمل معك
                        div(class="connect")
                            div
                                i(class="fas fa-map-marker-alt")
                                p المنيا
                            div
                                i(class="fas fa-envelope email")
                                p mahmoudkhalaf00@gmail.com
                            div
                                i(class="fas fa-phone")
                                p 01151024707
        div(class="skills wow slideInRight" data-wow-duration='2s' data-wow-offset='100')
            div(class="over")
                div(class="container")
                    h1.head مهاراتي
                    div(class="content")
                        div(class="left")
                            div
                                span html
                                span 80%
                            div
                                span css
                                span 80%
                            div
                                span javascript
                                span 60%
                            div
                                span wow.js
                                span 90%
                            div
                                span pugjs
                                span 75%
                            div
                                span r-design
                                span 95%
                        div(class="right")
                            div
                                span html5
                                span 75%
                            div
                                span css3
                                span 70%
                            div
                                span jquery
                                span 80%
                            div
                                span bootstrap
                                span 90%
                            div
                                span git/github
                                span 70%
                            div
                                span react.js
                                span 60%
        div(class="services  wow slideInLeft" data-wow-duration='2s' data-wow-offset='100')
            div(class="container")
                h1.head خدماتي
                div(class="content")
                    div(class="service")
                        i(class="fas fa-code")
                        h3 كود منظم وسليم
                        P كتابة الكود باسلوب سهل ومنظم ويمكن التعديل  عليه بكل سهوله ويسر فيما بعد وذلك احد مميزاتنا 
                    div(class="service")
                        i( class="fab fa-html5")
                        h3 تحويل الPSD لHTML
                        P نقوم بتحويل اي ملف PSD لHTMLبكل سهوله وباسلوب  سهل وبسيط وبجوده عالية
                    div(class="service")
                        i( class="fas fa-edit")
                        h3 تصميم وجهات 
                        P تصميم وجهات وصفحات سهلة وبسيطة ومريحة للمستحدم وبجوده عالية 
                    div(class="service")
                        i( class="fas fa-cogs")
                        h3 سهل الصيانة
                        P بسبب سهوله التصميم وتنظيم الكود وتنسيقة يمكننا صيانتة والتعديل عليه بكل سهولة
                    div(class="service")
                        i( class="fas fa-desktop")
                        h3 تصميم متجاوبة
                        P تصميم صفحات متجاوبة مع كل الاجهزة والشاشات ويعمل الموقع بسهولة علي كل الاجهزة 
                    div(class="service")
                        i( class="fab fa-wpforms")
                        h3 تصميم مواقع
                        P تصميم مواقع وصفحات متجاوبة مع كل الاجهزة وبجوده عالية وتصميمات حديثة مجميلة        
        div(class="works wow slideInRight" data-wow-duration='2s' data-wow-offset='100')
            div(class="over")
                div(class="container")
                    h1.head اعمالي
                    div(class="content")
                        ul 
                            li(class="active" data-role=".all") الكل
                            li( data-role=".design") تصميم
                            li( data-role=".sites") مواقع
                            li( data-role=".mobile") موبايل
                            li( data-role=".modern") ابداعي
                        div(class="projects")

                            div(class="project mobile")
                                div(class="over")
                                img(src="images/code1.jpeg", alt="project one")
                                a(href="https://mahmoud-khalaf.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الاول
                          
                            div(class="project design")
                                div(class="over")
                                img(src="images/code2.jpeg", alt="project one")
                                a(href="https://me-farhty-unifox.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الثاني

                            div(class="project modern")
                                div(class="over")
                                img(src="images/code3.jpeg", alt="project one")
                                a(href="https://axitbootstrap1.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الثالث

                            div(class="project design")
                                div(class="over")
                                img(src="images/code4.jpeg", alt="project one")
                                a(href="https://bootstrap1update.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الرابع

                            div(class="project sites")
                                div(class="over")
                                img(src="images/code5.jpeg", alt="project one")
                                a(href="https://bootstrap1update.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الخامس

                            div(class="project modern")
                                div(class="over")
                                img(src="images/code6.jpeg", alt="project one")
                                a(href="https://testlevel2.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع السادس

                            div(class="project mobile")
                                div(class="over")
                                img(src="images/code7.jpeg", alt="project one")
                                a(href="https://implementationh5.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع السابع

                            div(class="project sites")
                                div(class="over")
                                img(src="images/code8.jpeg", alt="project one")
                                a(href="https://mahmoudtest1.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الثامن

                            div(class="project modern")
                                div(class="over")
                                img(src="images/code9.jpeg", alt="project one")
                                a(href="https://implementation1.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع التاسع

                            div(class="project sites")
                                div(class="over")
                                img(src="images/code10.jpeg", alt="project one")
                                a(href="https://classicolevel.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع العاشر

                            div(class="project design")
                                div(class="over")
                                img(src="images/code11.jpeg", alt="project one")
                                a(href="https://mahmoud-khalaf.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الحادي
                            div(class="project mobile")
                                div(class="over")
                                img(src="images/code7.jpeg", alt="project one")
                                a(href="https://mahmoud-khalaf.netlify.com/", target="-black")
                                    i( class="fas fa-link") 
                                p المشروع الثاني


        div(class="connect-me wow slideInUp" data-wow-duration='2s')
            div(class="container")
                h1.head تواصل معي
                div(class="content")
                    ul 
                        li
                            a(href="https://www.facebook.com/mahmoud.khalaf.921677" target="-black")
                                i(class="fab fa-facebook")
                        li
                            a(href="https://www.linkedin.com/in/mahmoud-khalaf-538323123/" target="-black")
                                i(class="fab fa-linkedin")
                        li
                            a(href="https://github.com/mahmoudkhalaf0" target="-black")
                                i(class="fab fa-github-square")
                        li
                            a(href="#",title="01151024707")
                                i( class="fab fa-whatsapp-square")   
        div(class="footer wow fadeInDownBig" data-wow-duration='2s')
            p صمم بكل
                i( class="fas fa-heart")
                |   بواسطة  
                a(href="https://www.facebook.com/mahmoud.khalaf.921677" target="-black")
                    | محمود خلف
                        
        div(class="go-up")
            i(class="fas fa-arrow-alt-circle-up")

        div(class="menu")
            div(class="images")
                img(src="images/2.jpg", alt="mahmoud khalaf")
                p محمود خلف
                p مطور
            ul
                li(data-class=".header" class="active")  الرئيسية
                li(data-class=".about")                  عني
                li(data-class=".skills")                 مهاراتي
                li(data-class=".services")               خدماتي
                li(data-class=".works")                  اعمالي
                li(data-class=".connect-me")             تواصل معي
        div(class="menu-tab")
            span.first
            span.second
            span.third
        include scripts.pug
        
        